#green {
    height: 150px;
    width: 150px;
}
#purple {
    height: 150px;
    width: 150px;
}
#blue {
    height: 150px;
    width: 150px;
}
#gold {
    height: 150px;
    width: 150px;
}

#rand{
    font-size: 90px;
    color: teal;
}